/* config/lily58_right.overlay */

&i2c0 {
    status = "okay";

    /* 이미 이 버스(&i2c0)에는 OLED가 타고 있습니다. 그 아래에 트랙패드만 슬쩍 추가합니다. */
    trackpad: trackpad@74 {
        compatible = "azoteq,iqs5xx"; /* TPS43 Azoteq 트랙패드 드라이버 */
        status = "okay";
        reg = <0x74>; /* 트랙패드의 I2C 주소 */
        
   
    };
};
